/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.navCont {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #71106e;
  padding: 1.5rem;
}
.navLinks {
  display: none;
}
.navButton button {
  background-color: transparent;
  border: none;
}
.slackLogo {
  width: 100px;
}

.navCont {
  background-color: #540b51;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;

  padding-top: 5%;
  background-color: #540b51;
}
.headerContent h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.headerContent p {
  font-size: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slackFree {
  color: #ecb12f;
}
.slackAcess {
  display: flex;
  flex-direction: column;

  color: white;
  align-items: center;
  background-color: #540b51;
  padding: 15px;
}
.emailsignup {
  padding: 1rem;
  width: 100%;
  margin-top: 15px;
  border-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  color: #540b51;
  font-weight: 600;
}
.googleSignup {
  padding: 0.5rem;
  width: 100%;
  margin-top: 15px;
  display: flex;
  background: #4285f4;
  align-items: center;
  border-color: transparent;
  border-radius: 5px;
}
.googleSignup span {
  color: white;
  text-transform: uppercase;
  flex: 1;
  font-weight: 600;
}
.img__google {
  background: white;
  padding: 3px 7px;
  border-radius: 5px;
}
.googleSignup img {
  width: 25px;
}

.headerImage {
  overflow: hidden;
  height: 300px;
}
.headerImage img {
  width: 150%;
}

.companyAffiliate {
  background-color: #f3eae2;
  padding: 45px 0;
}
.companyAffiliate p {
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 25px;
  font-weight: 600;
}

.companyLogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f3eae2;
  padding: 25px;
  gap: 15px;
  justify-content: space-between;
}

.companyLogos img {
  height: 35px;
  flex: 1;
}

.companyLogos img:nth-child(5) {
  width: 60%;
}
.companyLogos img:nth-child(6) {
  width: 40%;
}

.full-image img {
  width: 100%;
}
.bg-solid {
  background-color: #f3eae2;
}

.full-content {
  padding: 15px;
}
.full-content p {
  line-height: 25px;
}
.full-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
  line-height: 35px;
}
.full-link {
  text-decoration: none;
  color: #2e71a6;
  font-weight: 600;
  margin: 2rem 0;
  display: block;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 15px;
}

.teams h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.teams p {
  text-align: center;
  margin: 15px 0;
  line-height: 25px;
  font-weight: 500;
}
.teams .team-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.teams .team-buttons button {
  padding: 15px;
}
.teams .team-buttons button:nth-child(1) {
  background-color: #540b51;
  border-radius: 5px;
  border: 1px solid #540b51;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.teams .team-buttons button:nth-child(2) {
  color: #540b51;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid #540b51;
  font-weight: 600;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 1.5rem 0;
}

.rating li p span {
  font-size: 3rem;
  font-weight: 700;
  color: #540b51;
}
.rating li {
  width: 55%;
}
.rating li p:nth-child(2) {
  font-weight: 600;
  line-height: 20px;
}

.rating li p sup {
  font-weight: 600;
  margin-left: -5px;
}
.slackDigital {
  background-color: #540b51;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.slackDigital h3 {
  color: white;
  text-align: center;
}
.slackDigital button {
  padding: 1rem;
}
.slackbuttons {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}
.slackDigital button:nth-child(2) {
  background-color: #540b51;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.slackDigital button:nth-child(1) {
  color: #540b51;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.slackDigital h3 {
  font-size: 2rem;
}
.footer {
  padding: 25px 15px;
}
.footer img {
  width: 60px;
  margin-bottom: 25px;
}
.footerLink {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #c1c1c1;
  flex-wrap: nowrap;
}
.footerLink ul li {
  margin-bottom: 25px;
  color: #454245;
  font-size: 12px;
}
.footerLink ul li:nth-child(1) {
  font-weight: 600;
  font-size: 15px;
  height: 30px;
}
.footerTerms li {
  margin: 2rem 0;
  font-weight: 600;
}
.footerTerms li:last-child {
  color: #4285f4;
}

.footerIcons {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.footerIcons li i {
  font-size: 25px;
}

.footerCopy {
  font-size: 12px;
  color: #454245;
  margin: 20px 0 10px 0;
  line-height: 20px;
}
@media screen and (max-width: 768px) {
}
